@import "../base/variable";


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header;
    grid-area: header;
    img{
        width: 250px;
        height: 150px;
    }
}
