@import "../base/variable"


.main {
    grid-area: main;
    .section1 div {
        display: flex;
        align-items: center;
        background-color: $main1;
        img {
            width: 600px;
            height: 400px;
            margin: 20px;
            & .tituloParrafo {
                margin: 30px;
                &:hover {
                    color: $main2;
                    text-shadow: 0;
                    transition: 3s;
                 
                }

            }
        
        }
    & .section2{
        div{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            background-color: $main2;
            img{
                width: 600px;
                height: 400px;
                margin: 20px;
                & .tituloparrafo2{
                    margin: 10px;
                    &:hover{
                        color: $header;
                        text-shadow: 0;
                        transition: 3s;
                    }
                }
    
            }

        }
    }

    }
    

}

